input[type="submit"] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px; 
  height:10%
}

.adminButton {
  height: 10%;
  width: auto;
}

.adminButton:nth-last-child(2) {
  margin-left: auto;
}

.editButton {
  padding: 1% !important;
  height: 10%;
  flex: 0%;
}

.dropdown .btn.btn-primary.dropdown-toggle {
  flex: 39%;
  overflow: visible;
  width: 150px;
  background-color: darkgrey;
  color: black;
  border-color: black;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0);
}

a.dropdown-item a.dropdown-item:hover {
  flex: 10%;
  overflow: visible;
  width: 100%;
  background-color: darkgrey;
  color: black;
  border-color: black;
}
.dropdown-menu > a:hover,
.dropdown-menu > a:focus {
  flex: 10%;
  overflow: visible;
  width: 100%;
  background-color: lightgrey;
  color: black;
  border-color: black;
  box-shadow: lightgrey;
}

.dropdown-menu {
  flex: 10%;
  overflow: visible;
  width: 100%;
  background-color: darkgrey;
  color: black;
  border-color: black;
}

.voteIcon {
  margin: auto;
  size: 10%;
}


